body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.react-tweet-theme {
  /* Override the body font properties */
  --tweet-body-font-size: 0.95rem !important;
  --tweet-body-font-weight: 400 !important;
  --tweet-body-line-height: 1.25rem !important;
  --tweet-font-family: "Fira Sans" !important; 
}